<div class="col-md-6 offset-md-3">
  <h3> Create Todo </h3>
  <form (ngSubmit) = "onSubmit()">
    <div class="form-group">
      <label> User Id</label>
      <input type="text" class ="form-control" id = "userId"
             [(ngModel)] = "todo.userId" name = "userId">
    </div>
    <div class="form-group">
      <label> Title </label>
      <input type="text" class ="form-control" id = "title"
             [(ngModel)] = "todo.title" name = "title">
    </div>

    <!--<div class="form-group">
      <label> completed</label>
      <input type="text" class ="form-control" id = "completed"
             [(ngModel)] = "todo.completed" name = "completed">
    </div>-->

    <tr>
      <td>completed:</td>
      <td>
        <input type="radio" value="true" name="completed" [(ngModel)]="todo.completed" required #completed="ngModel"> True
        <input type="radio" value="false" name="completed" [(ngModel)]="todo.completed" required #completed="ngModel"> False
      </td>
    </tr>

    <button class = "btn btn-success" type ="submit">Submit</button>

  </form>
</div>
